.Home{
   
    background-color: #272727;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo{
    z-index: 0;
}